<% layout("layouts/boilerplate") %>

<div class="jumbotron">
    <h1 class="display-4">Welcome to Ecoloop!</h1>
    <p class="lead">Your go-to resource for sustainable living and recycling.</p>
    <hr class="my-4">
    <p>Explore our website to discover eco-friendly tips, recycling guides, and more.</p>
    <a class="btn btn-primary btn-lg" href="/recycle" role="button">Learn More About Recycling</a>
</div>