<!-- Use the boilerplate layout -->


<h1>Recycling Initiative</h1>

<form class="row g-3">
    <div class="col-md-6">
        <label for="inputName" class="form-label">Your Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Your Full Name">
    </div>
    <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="inputPhone" placeholder="Contact Number">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="House number and street name">
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2 (Optional)</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">State/Union Territory</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option value="AN">Andaman and Nicobar Islands</option>
            <option value="AP">Andhra Pradesh</option>
            <option value="AR">Arunachal Pradesh</option>
            <option value="AS">Assam</option>
            <option value="BR">Bihar</option>
            <option value="CH">Chandigarh</option>
            <option value="CT">Chhattisgarh</option>
            <option value="DN">Dadra and Nagar Haveli and Daman and Diu</option>
            <option value="DL">Delhi</option>
            <option value="GA">Goa</option>
            <option value="GJ">Gujarat</option>
            <option value="HR">Haryana</option>
            <option value="HP">Himachal Pradesh</option>
            <option value="JK">Jammu and Kashmir</option>
            <option value="JH">Jharkhand</option>
            <option value="KA">Karnataka</option>
            <option value="KL">Kerala</option>
            <option value="LA">Ladakh</option>
            <option value="LD">Lakshadweep</option>
            <option value="MP">Madhya Pradesh</option>
            <option value="MH">Maharashtra</option>
            <option value="MN">Manipur</option>
            <option value="ML">Meghalaya</option>
            <option value="MZ">Mizoram</option>
            <option value="NL">Nagaland</option>
            <option value="OR">Odisha</option>
            <option value="PY">Puducherry</option>
            <option value="PB">Punjab</option>
            <option value="RJ">Rajasthan</option>
            <option value="SK">Sikkim</option>
            <option value="TN">Tamil Nadu</option>
            <option value="TG">Telangana</option>
            <option value="TR">Tripura</option>
            <option value="UP">Uttar Pradesh</option>
            <option value="UK">Uttarakhand</option>
            <option value="WB">West Bengal</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip Code</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
        <label for="wasteType" class="form-label">Type of Waste</label>
        <select id="wasteType" class="form-select" multiple aria-label="Multiple select example">
            <option value="paper">Paper</option>
            <option value="plastic">Plastic</option>
            <option value="glass">Glass</option>
            <option value="metal">Metal</option>
            <option value="e-waste">E-waste (Electronics)</option>
            <option value="organic">Organic/Compostable</option>
            <option value="other">Other (Please specify below)</option>
        </select>
        <div class="form-text">Select all that apply. Hold down Ctrl (or Cmd on Mac) to select multiple options.</div>
    </div>
    <div class="col-12">
        <label for="otherWaste" class="form-label">Other Waste (If selected above)</label>
        <textarea class="form-control" id="otherWaste" rows="2" placeholder="Specify other types of waste here"></textarea>
    </div>
    <div class="col-md-4">
        <label for="quantity" class="form-label">Approximate Quantity (in kg)</label>
        <input type="number" class="form-control" id="quantity" min="1" value="1">
    </div>
    <div class="col-md-8">
        <label for="pickupDate" class="form-label">Preferred Pickup Date</label>
        <input type="date" class="form-control" id="pickupDate">
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="agreement">
            <label class="form-check-label" for="agreement">
                I agree to the terms and conditions for waste recycling.
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit Recycling Request</button>
    </div>
</form>