<footer class="mt-5 py-3 bg-light text-center fixed-bottom">

    <div class="container">
        <div class="social-icons mb-2 f-info-socials">

            <a href="facebook.com" class="me-2"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/c/instagram" class="me-2"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/prathamesh-edlawar-1615a9350/" class="me-2"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <p class="f-info">&copy; <%= new Date().getFullYear() %> Ecoloop private limited</p>

        <p class="f-info-links"><a href="/privacy">Privacy</a> | <a href="/terms">Terms</a></p>

    </div>
</footer>